.mf-search-btn {
    line-height: 29px !important;
}

.mf_fileinfoArea tbody tr{
  border: none !important;
  padding: 0;

}

.mf_fileinfoArea tbody tr:hover,
.mf_fileinfoArea tbody tr:focus {
    background: initial !important;
}

.mf_fileinfoArea tbody tr td{
  padding: 0 !important;
  padding-right: 6px !important;
  vertical-align: top;
  padding-bottom: 4px !important;
  color: #fff;
  height: auto;
  box-sizing: initial;
}

.mf_cropperArea td{
  color: #fff;
  height: auto;
  box-sizing: initial;
}

.mf_cropperArea tr:hover{
  background: none !important;
}

.mf-leftpane-topbox tr,
.mf-leftpane-box tr{
  border: none !important;
  padding: 0 !important;
}
.mf-leftpane-topbox td,
.mf-leftpane-box td{
  padding: 0 !important;
  vertical-align: top;
  padding-right: 6px !important;
  padding-top: 10px !important;
}

.mf_cropperArea .mf-txtarea-input{
  color: #4698CB !important;
}

.mf_fileinfoArea table, .mf_cropperArea table {
  border-spacing: initial;
  border-collapse: initial;
  max-width: initial;
}

#mediaflow-ckeditor-browser{
  color: #fff;
}

.mf_cropperArea select{
  background: #23262c !important;
}

.mf_cropperArea select:hover,
.mf_cropperArea select:active {
  box-shadow: none;
}

.mf-searchbar{
  line-height: initial;
}
