[data-mediaflow-selector] {
  display: block;
  position: absolute;
  top: 40px;
  bottom: 0;
  left: 0;
  right: 0;
}

.mediaflow-widget-wrapper {
  position: relative;
  height: 500px;
  border: solid thin grey;
}

.cke_button_label.cke_button__mediaflow_label {
  display: inline;
  padding-left: 6px;
}

.mediaflow-ckeditor-backdrop,
.mediaflow-fileselector-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000;
  opacity: .5;
  z-index: 2999;
}
.mediaflow-ckeditor-modal {
  position: fixed;
  top: 100px;
  bottom: 30px;
  left: 30px;
  right: 30px;
  z-index: 3000;
}
.mediaflow-ckeditor-browser {
  position:relative;
  min-width: 100%;
  min-height: 100%;
  overflow:hidden;
  border: none;
  margin: 0;
}


.pick-mediaflow-button{
  cursor: pointer;
  margin: 20px 0;
  display: inline-block;
}

.mediaflow-file{
  padding: 4px;
  max-width: 300px;
  margin-bottom: 0px;
  display: none;
}

.field--type-mediaflow-item img{
  display: block;
}

.field--type-mediaflow-item.form-wrapper{
  position: relative;
  min-width: 0;
  margin: 1em 0;
  padding: 30px 18px 18px;
  border-radius: 2px;

  border: 1px solid #c0c0c0;
}

.field--type-mediaflow-item.form-wrapper h5{
  margin: 0;
  position: absolute;
  top: 10px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: bold;
}

.mediaflow-file img,
.field--type-mediaflow-item .image-style-large {
  max-width: 100% !important;
  margin: 0 auto;
  display: inline-block;
}


#drupal-off-canvas .field--type-mediaflow-item .button.pick-mediaflow-button,
#drupal-off-canvas .field--type-mediaflow-item .remove-mediaflow-button {
  display: block;
  margin-bottom: 10px;
  padding: 3px 5px;
}

#drupal-off-canvas .field--type-mediaflow-item.form-wrapper {
  position: relative;
  min-width: 0;
  margin: 0;
  padding: 0;
  /* border-radius: 2px; */
  background-color: none;
  border: none;
}

#drupal-off-canvas .field--type-mediaflow-item.form-wrapper h5{
  position: static;
  letter-spacing: initial;
  text-transform: initial;
}
